.spinner {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 44%;
  z-index: 10000;
}

@media screen and (max-width: 720px) {
  .spinner {
    width: 100px;
    height: 100px;
  }
}
