.genres {
  margin-top: 100px;
  margin-left: 120px;
  padding: 0 5%;
  padding-bottom: 100px;

  .header {
    margin-bottom: 20px;
    h2 {
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    p {
      font-weight: 300;
    }
  }

  .genres-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 15px;

    .genre-box {
      position: relative;
      background-color: #000;
      cursor: pointer;
      border-radius: 11px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
      .zoomIn {
        overflow: hidden;
        border-radius: 11px;
        .image {
          border-radius: 11px;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          object-fit: cover;
          transform: scale(1.1);
          transition: 0.3s ease-in-out;
          cursor: pointer;
          opacity: calc(0.5);
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      .content {
        position: absolute;
        bottom: 35px;
        left: 20px;
        .genre-title {
          color: #fff;
          letter-spacing: 1px;
          width: fit-content;
          padding: 3px 7px;
          border-radius: 10px;
          font-size: 14px;
          font-weight: 300;
          font-weight: 700;
          text-transform: uppercase;
        }
        p {
          color: #fff;
          background-color: rgb(34, 66, 140);
          width: fit-content;
          padding: 5px 10px;
          border-radius: 10px;
          margin-top: 5px;
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 936px) {
  .genres {
    margin-left: 74px;
  }
}

@media screen and (max-width: 430px) {
  .genres {
    margin-left: 56px;
  }
}
