.competition {
  margin-top: 100px;
  margin-left: 120px;
  padding: 0 5%;
  padding-bottom: 200px;

  .header {
    margin-bottom: 20px;
    h2 {
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    p {
      font-weight: 300;
    }
  }

  .competition-container {
    display: flex;
    // gap: 20px;
    .left {
      width: 80%;
      position: relative;
      .image-box {
        background-color: #000;
        .game-image {
          width: 100%;
          height: 100%;
          opacity: 0.5;
        }
      }
      .left-content {
        position: absolute;
        bottom: 98px;
        left: 40px;
        color: #fff;
        h2 {
          font-size: 58px;
          font-weight: 300;
        }
        p {
          font-size: 20px;
          font-weight: 300;
        }

        .info {
          display: flex;
          gap: 8px;
          margin-top: 18px;
          flex-wrap: wrap;
          .price {
            background-color: rgb(39, 177, 184);
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 5px;
            font-weight: 700;
          }
          .players {
            background-color: rgb(39, 97, 184);
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 5px;
            font-weight: 700;
          }
          .servers {
            background-color: rgb(218, 17, 151);
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 5px;
            font-weight: 700;
          }
          .team {
            background-color: rgb(255, 138, 12);
            padding: 5px 10px;
            font-size: 14px;
            border-radius: 5px;
            font-weight: 700;
          }
        }
        .play-btn {
          border: none;
          margin-top: 15px;
          padding: 10px 15px;
          border-radius: 4px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 1px;
          background-color: rgb(255, 255, 255);
          color: #000000;
          cursor: pointer;
          transition: all ease-in-out 0.2s;
          &:hover {
            background-color: rgb(232, 232, 232);
          }
        }
      }
    }
    .right {
      width: 20%;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      padding: 20px 0;
      .profile-box {
        position: relative;
        height: fit-content;
        cursor: pointer;
        .profile-image {
          width: 80px;
          height: 80px;
          border-radius: 50%;
        }
        .online-image {
          border: 4px solid rgb(0, 128, 107);
        }
        .offline-image {
          border: 4px solid gray;
        }
        span {
          position: absolute;
          bottom: 1px;
          right: 7px;
          padding: 2px 3px;
          border-radius: 5px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 12px;
          letter-spacing: 2px;
        }
        .online {
          background-color: rgb(0, 128, 107);
        }
        .offline {
          background-color: gray;
        }
      }
    }
  }
}

@media screen and (max-width: 1762px) {
  .competition {
    margin-left: 50px;
    .competition-container {
      display: flex;
      flex-direction: column;
      .left {
        width: 100%;
      }
      .right {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 988px) {
  .competition {
    .competition-container {
      display: flex;
      flex-direction: column;
      .left {
        width: 100%;
        .left-content {
          h2 {
            font-size: 29px;
          }
          p {
            font-size: 16px;
          }
        }
      }
      .right {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .competition {
    .competition-container {
      .left {
        .left-content {
          bottom: 28px;
          left: 20px;

          .info {
            .price {
              font-size: 12px;
            }
            .players {
              font-size: 12px;
            }
            .servers {
              font-size: 12px;
            }
            .team {
              font-size: 12px;
            }
          }
          .play-btn {
            font-size: 12px;
            letter-spacing: 0px;
          }
        }
      }
    }
    .right {
      width: 100%;
    }
  }
}
@media screen and (max-width: 540px) {
  .competition {
    .competition-container {
      .left {
        .left-content {
          position: relative;
          margin-top: 40px;
          color: #000;
          h2 {
            font-size: 25px;
          }
          p {
            font-size: 13px;
          }
          .info {
            .price {
              font-size: 12px;
              color: #fff;
            }
            .players {
              font-size: 12px;
              color: #fff;
            }
            .servers {
              font-size: 12px;
              color: #fff;
            }
            .team {
              font-size: 12px;
              color: #fff;
            }
          }
          .play-btn {
            font-size: 12px;
            letter-spacing: 0px;
          }
        }
      }
    }
    .right {
      width: 100%;
      gap: 10px;
    }
  }
}

@media screen and (max-width: 410px) {
  .competition {
    padding: 0 3%;

    .competition-container {
      .left {
        .left-content {
          .info {
            padding-right: 10px;
            .price {
              font-size: 10px;
            }
            .players {
              font-size: 10px;
            }
            .servers {
              font-size: 10px;
            }
            .team {
              font-size: 10px;
            }
          }
        }
      }
    }

    .competition-container {
      .right {
        gap: 10px;
        .profile-box {
          .profile-image {
            width: 60px;
            height: 60px;
          }
          span {
            right: 5px;
            font-size: 9px;
          }
        }
      }
    }
  }
}
