.stream {
  margin-top: 50px;
  margin-left: 80px;
  padding: 0 5%;

  .header {
    margin-bottom: 20px;
    h2 {
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    p {
      font-weight: 300;
    }
  }

  .video {
    .video-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 10px;
      .video-box {
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
        display: grid;
        position: relative;
        .content {
          position: absolute;
          bottom: 50px;
          left: 30px;
          h4 {
            font-size: 34px;
            font-weight: 300;
            color: #fff;
            margin-bottom: 4px;
          }
          p {
            font-size: 13px;
            color: #fff;
          }
        }
        &:first-child {
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 3;
        }
        .image-container {
          background-color: #000;
          overflow: hidden;
          .image {
            width: 100%;
            height: 100%;
            opacity: calc(0.5);
            object-fit: cover;
            transform: scale(1);
            transition: all ease-in-out 0.3s;
            cursor: pointer;
            &:hover {
              transform: scale(1.02);
            }
          }
        }

        .profile {
          position: absolute;
          z-index: 1000;
          right: 30px;
          top: 28px;
          .profile-image {
            box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.9);
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 2px solid transparent;
            background: linear-gradient(red, orangered) padding-box,
              linear-gradient(to right, red, orange) border-box;
            cursor: pointer;
            &:hover {
              background: linear-gradient(orangered, red) padding-box,
                linear-gradient(to right, orangered, red) border-box;
            }
          }
          span {
            position: absolute;
            z-index: 1001;
            background-color: red;
            color: #fff;
            top: 65px;
            right: 20px;
            padding: 5px 6px;
            font-size: 12px;
            font-weight: 900;
            letter-spacing: 1px;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1482px) {
  .stream {
    .video {
      .video-container {
        .video-box {
          .content {
            h4 {
              font-size: 20px;
            }
            p {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1202px) {
  .stream {
    .video {
      .video-container {
        grid-template-columns: 1fr 1fr;
        .video-box {
          &:first-child {
            grid-row-start: 1;
            grid-row-end: 1;
            grid-column-start: 1;
            grid-column-end: 1;
          }
          .profile {
            .profile-image {
              width: 60px;
              height: 60px;
            }
            span {
              right: 9px;
              top: 49px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .stream {
    .video {
      .video-container {
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 454px) {
  .stream {
    margin-left: 62px;

    .video {
      .video-container {
        .video-box {
          .profile {
            top: 15px;
            right: 15px;
            .profile-image {
              width: 40px;
              height: 40px;
              border: 2px solid transparent;
            }
            span {
              right: 4px;
              top: 32px;
              font-size: 9px;
              padding: 3px 4px;
            }
          }
          .content {
            bottom: 20px;
            left: 17px;
            h4 {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
