.cart {
  margin-top: 100px;
  margin-left: 80px;
  padding: 0 5%;

  .cart-header {
    margin-bottom: 20px;
    h2 {
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    p {
      font-weight: 300;
    }
  }
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-bottom: 100px;
  .cart-item-box {
    background-color: rgb(227, 226, 226);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  .cart-image-container {
    .cart-image {
      width: 20%;
      height: 20%;
      margin: 10px;
      box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
    }
  }
}

.cart-content {
  .cart-price {
    background-color: rgb(23, 142, 148);
    color: #fff;
    width: fit-content;
    padding: 5px 8px;
    margin: 5px;
    border: none;
    font-weight: 900;
  }
}

.cart-button-container {
  margin-top: 10px;
  button {
    font-size: 14px;
    padding: 5px 8px;
    font-weight: 700;
    border: none;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    background-color: rgb(63, 63, 63);
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  span {
    font-weight: 500;
  }
}
