.feedback {
  margin-top: 100px;
  margin-left: 80px;
  padding: 0 5%;

  .header {
    margin-bottom: 30px;
    h2 {
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 5px;
    }
    p {
      font-weight: 300;
    }
  }

  .mySwiper {
    background: none;

    .slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #333;
      .image-container {
        .image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          margin-bottom: 20px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        h4 {
          font-size: 28px;
          font-weight: 300;
          margin-bottom: 10px;
        }
        p {
          font-weight: 300;
          line-height: 1.5;
          padding: 0 15%;
        }
      }
    }
  }
}

@media screen and (max-width: 1086px) {
  .feedback {
    .mySwiper {
      .slide {
        .content {
          p {
            padding: 0 2%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 564px) {
  .feedback {
    padding-bottom: 50px;
    .mySwiper {
      padding-bottom: 450px;
      .slide {
        .content {
          p {
            padding: 0;
            font-size: 13px;
          }
        }
      }
    }
  }
}
